In [2]:
my_tuple = ("Adhd",2,5,7,8)

my_tuple  =tuple([1,2,3,45])

In [3]:
type(my_tuple)

tuple

In [4]:
my_tuple

(1, 2, 3, 45)

In [1]:
# What is the difference between list and tuple ?

In [2]:
# List are mutable but tuples are immutable, meaning once the tuple is created u can't change it.

In [ ]:
tuple_1 = ("Amit",2,5,7, [1,2,3], ('',0,True), 2,5,7)

In [4]:
len(tuple_1)

9

In [7]:
tuple_1[4]

[1, 2, 3]

In [9]:
tuple_1[4][1]

2

In [10]:
tuple_1[4][0]

1

In [11]:
tuple_1[4][-3]

1

In [12]:
tuple_1[4:6]

([1, 2, 3], ('', 0, True))

In [13]:
tuple_2 = ('Kiwi','banana',"Mango")

In [14]:
tuple_2[1] = 'apple'

TypeError: 'tuple' object does not support item assignment

In [18]:
tuple_2 = list(tuple_2)

In [19]:
tuple_2[1] = 'apple'

tuple_2 = tuple(tuple_2)

tuple_2

('Kiwi', 'apple', 'Mango')

In [20]:
del tuple_2[0]

TypeError: 'tuple' object doesn't support item deletion

In [21]:
del tuple_2

In [24]:
fruits = ("apple", "banana", "cherry", "Brinjal")

(green, yellow, red, purple) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [26]:
for i in fruits:
    print(i)

apple
banana
cherry
Brinjal

In [27]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
this_set = {"apple", "banana", "cherry"}
print(thisset)