## DataTypes

#### 1. Definition:

- Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
- They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

#### 2. Importance of Data Types in Programming

Explanation:

- Data types ensure that data is stored in an efficient way.
- They help in performing correct operations on data.
- Proper use of data types can prevent errors and bugs in the program.

Outline:

1. Introduction to Data Types
2. Importance of Data Types in Programming
3. Basic Data Types
   - Integers
   - Floating-point numbers
   - Strings
   - Booleans
4. Advanced Data Types
   - Lists
   - Tuples
   - Sets
   - Dictionaries
5. Type Conversion
6. Practical Examples

In [1]:
## Integer Example
age=35
print(type(age))

<class 'int'>

In [3]:
age = complex(age)
print(age)
print(type(age))

(35+0j)
<class 'complex'>

In [8]:
b = 2 + 3j

# type(b)

# c = int(b)
# print(c)


# d = float(b)

d = 5.9
print(type(d))
d=complex(d)
print(d)

<class 'float'>
(5.9+0j)

In [9]:
##floating point datatype
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [10]:
## string datatype example
name="Abhishek"
Name = 'Ankul'
Name_1 = """Rishi"""
print(name)
print(type(name))
print(Name)
print(type(Name))
print(Name_1)
print(type(Name_1))

Abhishek
<class 'str'>
Ankul
<class 'str'>
Rishi
<class 'str'>

In [11]:
## boolean datatype
is_true=True
is_false = False
print(type(is_true))
print(type(is_false))
print(is_true)
print(is_false)

<class 'bool'>
<class 'bool'>
True
False

In [12]:
a=10
b=10

# type(a==b)
print(a == b)
print(type(a == b))

True
<class 'bool'>

In [13]:
## common errors

result="Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [15]:
# result="Hello" + str(5)
result="Hello" + '5'
print(result)

Hello5

In [16]:
# id(height) #Uncomment this line to get a NameError

id(age)

2171221960720

In [17]:
z = 19

In [18]:
type(z)

int

In [19]:
z

19

In [20]:
z = float(z)
print(z)

19.0

In [21]:
z = str(z)
z

'19.0'

In [22]:
x = 'hello'
type(x)

str

In [23]:
x = int(x)

ValueError: invalid literal for int() with base 10: 'hello'

In [33]:
import random

print(random.randrange(1, 10))

9

In [34]:
print("It's alright")
print("He is called 'Johnny'")
print(len('He is called "Johnny"'))

It's alright
He is called 'Johnny'
21

In [35]:
Name_1 = "AMIT"

In [36]:
len(Name_1)

4

In [37]:
txt = "The best things in life are free!"
print("expensive" not in txt)
print("life" not in txt)

True
False

In [38]:
Name = "Yashi"

In [ ]:
#  [Start:End]  --> includes start and exclude the end

In [39]:
# +ve indexing -- left to right 
Name[0:3]

'Yas'

In [40]:
Name[:]

'Yashi'

In [41]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [42]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [43]:
Name_1 = "Amit"

In [44]:
Name_1.upper()

'AMIT'

In [45]:
Name_1.lower()

'amit'

In [46]:
a = "   Hello, World!     "
print(a)
print(a.strip())

   Hello, World!
Hello, World!

In [47]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [48]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [49]:
a = "Hello World! Amit"
print(a.split(" "))

['Hello', 'World!', 'Amit']

In [50]:
a = "Amit"
b = "Upadhayay"

c = a + b
print(c)

AmitUpadhayay

In [51]:
d = a +" "+ b
print(d)

Amit Upadhayay

## f"{variable,operations}" --- f-strings

In [52]:
txt = f"My name is {d} and I'm {30+1} years old."
txt

"My name is Amit Upadhayay and I'm 31 years old."

In [ ]:
result = "hello" + 5

In [53]:
result = f"hello + 5"

In [54]:
result

'hello + 5'

In [55]:
pi = 22/7

pi

3.142857142857143

In [56]:
f"One third, expressed as a float is: {1 / 3}"

'One third, expressed as a float is: 0.3333333333333333'

In [57]:
f"One third, rounded to two decimal places is: {1 / 3:.2f}"

'One third, rounded to two decimal places is: 0.33'

In [58]:
# txt = "We are the so-called "Vikings" from the north."
txt = "We are the so-called 'Vikings' from the north."
txt

"We are the so-called 'Vikings' from the north."

In [59]:
txt = "We are the so-called \"Vikings\" from the north."
txt

'We are the so-called "Vikings" from the north.'

In [60]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False