## Deep Dive into Operators

### Outline:

1. Introduction to Operators
2. Arithmetic Operators
   - Addition
   - Subtraction
   - Multiplication
   - Division
   - Floor Division
   - Modulus
   - Exponentiation
3. Comparison Operators
   - Equal to
   - Not equal to
   - Greater than
   - Less than
   - Greater than or equal to
   - Less than or equal to
4. Logical Operators
   - AND
   - OR
   - NOT
5. Practical Examples and Common Errors

Hint-- https://www.geeksforgeeks.org/complete-reference-for-bitwise-operators-in-programming-coding/

In [ ]:
a = 10
b = 5

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)  ## exponentiation a raised to b.

15
5
50
2.0

In [ ]:
# 15/2 # Result will always be a floating point number
# 15//2 # It will give quotient without decimals
# 15%2 # For Remainder use --- Modulo (%)

2**4

In [3]:
## Arithmethic Operation

a=10
b = 5

add_result=a+b  #addiiton
sub_result=a-b  #substraction 
mult_result=a*b #multiplication
div_result=a/b  #division -- this will always give result in floats.
floor_div_result=a//b ## floor division
modulus_result=a%b #modulus operation

exponent_result=a**b ## Exponentiation


print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [ ]:
10/5

In [ ]:
21/5

In [4]:
21//5  ## floor divison and it will give u quotient without decimal

4

#### Comparison Operators

In [5]:
## Comparison Operators
## == Equal to
a=10
b=5

b == a

False

In [6]:
# Not equal to -- !=
a != b

True

In [7]:
a > b

True

In [8]:
a >= b

True

In [9]:
a < b

False

In [10]:
a <= b

False

In [11]:
str1="Amit"
str2="Amit"

str1==str2

True

In [12]:
## Not Equal to !=
str1 != str2

False

In [13]:
str3="Abhishek"
str4="abhishek"

str3 != str4

True

In [ ]:
# greater than >

num1=45
num2=55

num1>num2

In [ ]:
## less than <

print(num1<num2)

In [ ]:
#greater than or equal to
number1=45
number2=45

print(number1>=number2)

In [ ]:
#less than or equal to
number1=44
number2=45

print(number1<=number2)

#### Logical Operators

In [14]:
## And ,Not,OR
X=True
Y=True

result = X and Y
print(result)

True

In [15]:
X=False
Y=True

result =X and Y
print(result)

False

In [16]:
## OR
X=False
Y=False

result =X or Y
print(result)

False

In [17]:
# Not operator
X=False
not X

True

In [ ]:
## Simple Calculator

# Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print("num1:",num1)
print("num2:",num2)

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Displaying results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

In [ ]:
Num_1 = float(input("Please enter the first number: "))
Num_2 = float(input("Please enter the second number: "))

# printing the numbers entered by user 

print(Num_1)
print(Num_2)

addition = Num_1 + Num_2
subtraction = Num_1 - Num_2
multiplication = Num_1 * Num_2
division = Num_1 / Num_2
floor_division = Num_1 // Num_2
modulus = Num_1 % Num_2
exponentiation = Num_1 ** Num_2


# Displaying results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

In [18]:
6 & 3

2

In [19]:
6 | 3

7

In [20]:
6 ^ 3

5

In [21]:
6 << 3

48

In [22]:
6 >> 3

0

In [ ]:
a = 10
b = 5

In [ ]:
a & b

In [ ]:
a | b

In [ ]:
~a

In [ ]:
~b

In [ ]:
a ^ b

In [ ]:
a = 10

In [ ]:
a >> 1

In [ ]:
a << 1

In [ ]:
a >> 2

In [ ]:
b

In [ ]:
b >> 3

In [ ]:
a

In [ ]:
a += 12

In [ ]:
a

In [23]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)


# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y


print(id(x))
print(id(y))
print(id(z))

print(x is not y)

True
False
True
1332128138048
1332127891136
1332128138048
True

In [ ]:
3 & 2

In [ ]:
3 | 2

In [ ]:
3 ^ 2

In [ ]:
~3

In [ ]:
3 >> 2

In [ ]:
3 << 2

In [24]:
3 + 3 * 3 / 3 -3

3.0

In [28]:
3 + 3 * (3 / 3) - 3

3.0

In [26]:
4+4*4/4-4

4.0

In [1]:
a = 10

a >>1

5

In [3]:
a>>2

2

In [4]:
a = 15

a >>2

3