[] -- Square braces
{} -- curly braces
() -- parentheses


## List

In [1]:
class_room = ["Aditya", 772800000, 2.4, ["Apple", "banana"], 3+2j, True, False]

In [2]:
print(type(class_room))

<class 'list'>

In [3]:
flowers = list(("Roses", "Marigold", "Lotus", "Lily"))
flowers_1 = list(["Roses", "Marigold", "Lotus", "Lily"])
flowers_2 = list({"Roses", "Marigold", "Lotus", "Lily"})


print(flowers)
print(flowers_1)
print(flowers_2)

['Roses', 'Marigold', 'Lotus', 'Lily']
['Roses', 'Marigold', 'Lotus', 'Lily']
['Lily', 'Lotus', 'Marigold', 'Roses']

In [10]:
print(class_room)

['Aditya', 772800000, 2.4, ['Apple', 'banana'], (3+2j), True, False]

In [5]:
class_room[0]

'Aditya'

In [6]:
len(class_room)

7

In [8]:
class_room[-7]

'Aditya'

In [9]:
class_room[0:3]

['Aditya', 772800000, 2.4]

In [13]:
thislist = ["apple", "banana", "cherry"]


print(thislist[1])




thislist[1] = "blackcurrant"
print(thislist)

banana
['apple', 'blackcurrant', 'cherry']

In [15]:
my_list = ["apple", "banana", "cherry"]
my_list[1:3] = ["blackcurrant", "watermelon"]

In [16]:
print(my_list)

['apple', 'blackcurrant', 'watermelon']

In [17]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [11]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [2]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [3]:
thislist.remove("apple")

In [20]:
thislist

['banana', 'cherry', 'kiwi', 'orange']

In [4]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [5]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [6]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [7]:
del thislist

In [8]:
thislist

NameError: name 'thislist' is not defined

In [9]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [10]:
lst = []

In [12]:
thislist

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [13]:
for x in thislist:
    print(x)

apple
banana
cherry
mango
pineapple
papaya

In [14]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [15]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [16]:
thislist.sort(reverse = True)

In [17]:
thislist

[100, 82, 65, 50, 23]

In [18]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [19]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [20]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

In [21]:
thislist.append(7)

In [22]:
thislist

['apple', 'banana', 'cherry', 7]

In [23]:
mylist

['apple', 'banana', 'cherry']

In [25]:
# List comprhension


my_list_1 = ['call', "Bike", "Aerolane"]

list_1 = []


for a in my_list_1:
    list_1.append(a)

In [27]:
list_1

['call', 'Bike', 'Aerolane']

In [29]:
list_2 =[a for a in my_list_1]

In [30]:
list_2

['call', 'Bike', 'Aerolane']