#### Pandas-DataFrame And Series
Pandas is a powerful data manipulation library in Python, widely used for data analysis and data cleaning. It provides two primary data structures: Series and DataFrame. A Series is a one-dimensional array-like object, while a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns).

In [ ]:
!pip install pandas

In [3]:
import pandas as pd

In [4]:
## Series
##A Pandas Series is a one-dimensional array-like object that can hold any data type. It is similar to a column in a table.

data=[1,2,3,4,5]

series=pd.Series(data)
print("Series \n",series)
print(type(series))

Series
 0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [5]:
## Create a Series from dictionary
data={'a':1,'b':2,'c':3}
series_dict=pd.Series(data)
print(series_dict)

a    1
b    2
c    3
dtype: int64

In [9]:
data=[10,20,30]
bhai_hai=['i','ii','iii']
pd.Series(data,index=bhai_hai)

i      10
ii     20
iii    30
dtype: int64

In [12]:
## Dataframe
## create a Dataframe from a dictionary of list

data={
    'Name':['Abhishek','John','Jack'],
    'Age':[25,30,45],
    'City':['Bangalore','New York','Florida']
}
df=pd.DataFrame(data)

print(type(df))

# print(df)
df

<class 'pandas.core.frame.DataFrame'>

       Name  Age       City
0  Abhishek   25  Bangalore
1      John   30   New York
2      Jack   45    Florida

In [13]:
## Create a Data frame From a List of Dictionaries

data=[
    {'Name':'Abhishek','Age':32,'City':'Bangalore'},
    {'Name':'John','Age':34,'City':'Bangalore'},
    {'Name':'Bappy','Age':32,'City':'Bangalore'},
    {'Name':'JAck','Age':32,'City':'Bangalore'}
    
]
df=pd.DataFrame(data)

print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

       Name  Age       City
0  Abhishek   32  Bangalore
1      John   34  Bangalore
2     Bappy   32  Bangalore
3      JAck   32  Bangalore

In [ ]:
df=pd.read_csv('sales_data.csv')
df.head()

In [ ]:
df_1 = pd.read_excel("sales_data.xlsx")

df_1

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df.tail(5)

In [ ]:
### Accessing Data From Dataframe
df

In [ ]:
df['Name']

In [ ]:
data = pd.DataFrame({'Brand': ['Maruti', 'Hyundai', 'Tata',
                               'Mahindra', 'Maruti', 'Hyundai',
                               'Renault', 'Tata', 'Maruti'],
                     'Year': [2012, 2014, 2011, 2015, 2012,
                              2016, 2014, 2018, 2019],
                     'Kms Driven': [50000, 30000, 60000,
                                    25000, 10000, 46000,
                                    31000, 15000, 12000],
                     'City': ['Gurgaon', 'Delhi', 'Mumbai',
                              'Delhi', 'Mumbai', 'Delhi',
                              'Mumbai', 'Chennai',  'Ghaziabad'],
                     'Mileage':  [28, 27, 25, 26, 28,
                                  29, 24, 21, 24]})

# displaying the DataFrame
display(data)

In [ ]:
display(data.loc[(data.Brand == 'Maruti') & (data.Mileage > 25)])

In [ ]:
display(data.iloc[[0, 2, 4, 7]])

In [ ]:
df.loc[0]

In [ ]:
df.iloc[0]

In [ ]:
df

In [ ]:
## Accessing a specified element
df.at[2,'Age']

In [ ]:
df.at[2,'Name']

In [ ]:
## Accessing a specified element using iat
df.iat[2,2]

In [ ]:
df

In [ ]:
### Data MAnipulation with Dataframe
df

In [ ]:
## Adding a column
df['Salary']=[50000,60000,70000,75000]
df

In [ ]:
df

In [ ]:
## Remove a column
df.drop('Salary',axis=1, inplace=True)

In [ ]:
df

In [ ]:
## Add age to the column
df['Age']=df['Age']+1
df

In [ ]:
df.drop(0,inplace=True)

In [ ]:
df

In [ ]:
df=pd.read_csv('sales_data.csv')
df.head(5)

In [ ]:
# Display the data types of each column
print("Data types:\n", df.dtypes)

# Describe the DataFrame
print("Statistical summary:\n", df.describe())

In [ ]:
df.describe()

In [ ]:
print(df.dtypes)

In [ ]:
import pandas as pd
df = pd.read_xlsx("C:/Users/ADMIN/Downloads/myexcel")

df